<html>
<head>
	<title>Post a room!</title>
</head>
<body>
	<h1>Post a new room!</h1>
	<form action="/rooms" method="POST">
		<input type="text" name="title" placeholder="Title">
		<input type="text" name="neighborhood" placeholder="Neighborhood">
		<input type="text" name="price" placeholder="Room Price">
		<input type="text" name="open" placeholder="Date Available">
		<textarea name="description" placeholder="Description"></textarea>
		<input type="submit">
	</form>
</body>
</html>