<html>
<head>
	<title>create a profile!</title>
</head>
<body>
	<h1>Create your profile!</h1>
	<form action="/profile" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="number" name="age" placeholder="Age">
		<textarea name="summary" placeholder="About Me"></textarea>
		<input type="radio" name="tags" value="male" checked>neat freak
		<br>
		<input type="radio" name="tags" value="female">never home
		<br>
		<input type="radio" name="tags" value="male" checked>doesn't bring the party home
		<br>
		<input type="radio" name="tags" value="female">foodie
		<br>
		<input type="radio" name="tags" value="male" checked>health nut
		<br>
		<input type="radio" name="tags" value="female">tv watcher
		<input type="submit">
	</form>
</body>
</html>