<html>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="css/style.css" rel="stylesheet">
	<title>Roomable: Compatible Rooms AND Roommates</title>	
</head>
<body>

	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '817442341630508',
	      xfbml      : true,
	      version    : 'v2.2'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>



	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">ROOMABLE</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      
	      <ul class="nav navbar-nav navbar-right">

	        <% if (user) { %>
	        	<li><a href="/rooms">Rooms</a></li>
	        	<li><a href="/rooms/new">Post a room</a></li>
	        	<form action="/sessions?_method=DELETE" method="POST">
	        		<input type="submit" value="Log Out">
	        	</form>
	        <% } else { %>
	        	<li><a href="/auth/facebook">Log In with Facebook</a></li>
	        <% } %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>




	<div id="carousel-home" class="carousel slide" data-ride="carousel" data-interval="4000">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-home" data-slide-to="1"></li>
	    <li data-target="#carousel-home" data-slide-to="2"></li>
	  </ol>
	 
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <a href="http://imgur.com/G9nBqtn"><img src="http://i.imgur.com/G9nBqtn.jpg" title="source: imgur.com" /></a>
	      <div class="carousel-caption">
	          <h1>WELCOME HOME</h1>
	          <h3>Ready to find the right room, with the right roommates.</h3>
	      </div>
	    </div>
	    <div class="item">
	      <a href="http://imgur.com/pt7pdxT"><img src="http://i.imgur.com/pt7pdxT.png" title="source: imgur.com" /></a>
	      <div class="carousel-caption">
	          	<h1>The right place</h1>
	      </div>
	    </div>
	    <div class="item">
	      <a href="http://imgur.com/5jVgVFv"><img src="http://i.imgur.com/5jVgVFv.jpg" title="source: imgur.com" /></a>
	      <div class="carousel-caption">
	          <h1>New best friends</h1>
	      </div>
	    </div>
	    <div class="item">
	      <a href="http://imgur.com/5DZTcd3"><img src="http://i.imgur.com/5DZTcd3.jpg" title="source: imgur.com" /></a>
	      <div class="carousel-caption">
	          <h2><a href="/auth/facebook">GET STARTED</a></h2>
	      </div>  
	    </div>
	  </div>
	 
	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div> <!-- Carousel -->
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
    	interval: 4000
    });
  });
</script>
</html>